.image {
    background-color: red;
    float: right;
    
    width: 200px;
    height: 200px;
    
    padding: 0 0 0 0;
    border: 10px dashed blue;
    margin: 60px 20px 60px 20px;
    outline: 25px groove yellow;
}